$primary-backgroundcolor: #ffffff;
$second-backgroundcolor: #f2f2f2;
$third-background: #1A1A1A;
$border: solid 1px #CAC8C8;


body {
    width: 100%;
    margin: auto;
    background-color: $primary-backgroundcolor;
}
h1{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
}
.bodyBox {
    position: absolute;
    top: 42%;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    background-color: transparent !important;

}
.moveUp{
    top: 42%;
    animation-name: shoot-up;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes shoot-up{
    0% {top: 42%}
    100% {top: 0%}
}
.top-wrap{
    background-color: $primary-backgroundcolor;
    box-shadow: 10px 10px 10px #f2f2f2;
}
.searchBodyBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.moveLeft {
    animation-name: slideLeft;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
}
@keyframes slideLeft {
    0% { width: 100%; }
    100% { width: 25%; }
}

.searchBodyBox div{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 10px;
}
.imgLogo {
    height: 54px;
    float: right;

}
.headerBox {
    flex-basis: 46%;
    vertical-align: bottom;
}
.flex-20{
    animation-name: flexBasis;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
}
@keyframes flexBasis {
    from { flex-basis: 46%; }
    to { flex-basis: 20%; }
}
.headerBox-text{
    flex-basis: 54%;
}
.flex-80{
    animation-name: flexBasis2;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
}
@keyframes flexBasis2 {
    from { flex-basis: 54%; }
    to { flex-basis: 80%; }
}
.searchBox {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 10px;
}

.itemBox {
    display: block;
    margin: auto;
    width: 70%;
    background-color: $second-backgroundcolor;
    border: $border;
    box-shadow: 10px 10px 10px #f2f2f2;
    margin-bottom: 10px;
}

.imgBox > * {
    flex-basis: 100%;
  }

.imgBox {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 25%;
    background-color: $second-backgroundcolor;
}

.textBox > * {
    flex-basis: 100%;
  }

.textBox {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 9px;
    width: 75%;
    background-color: $second-backgroundcolor;
}

.searchButton {
    display: flex;
    align-items: center;
    background-color: $primary-backgroundcolor;
    width: 100%;
    height: 70px;
    border: $border;
    padding-left: 3%;
    text-align: left;
}

.inputfield {
    background-image: url(searchwide.png);
    background-repeat:no-repeat;
    background-position: right;
    background-size: 3%;
    width: 35%;
    height: 50px;
    border: $border;
    padding-left: 1%;

}
.expand{
    animation-name: widen;
    animation-delay: 1.2s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes widen {
    0% {width: 35%}
    100% {width: 55%}
}

.mapButton {
    background-color: #18AA04;
    border: none;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    color: $primary-backgroundcolor;
    font-weight: bold;
    cursor: pointer;
}

.itemImg {
    margin-top: 9px;
    margin-left: 30px;
    border: $border;
    height: 180px;
}


.itemPrice {
    color: #18AA04;
    font-weight: bold;
}

.itemDiscount {
    color: #9DAB8E;
    font-weight: normal;
}

  .imgSearch {
    float: right;
    padding: 0px;
    height: 30px;
    display: inline;
    margin-left: auto;
    margin-right: 15px;
  }
  