$primary-backgroundcolor: #ffffff;
$second-backgroundcolor: #f2f2f2;
$third-background: #1A1A1A;
$border: solid 1px #CAC8C8;


body {
    width: 100%;
    margin: auto;
    background-color: $primary-backgroundcolor;
}

.bodyBox {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.searchBodyBox {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.headerBox {
    display: block;
    margin: auto;
    background-color: $primary-backgroundcolor;
    text-align: center;
    width: 100%;
    box-shadow: 10px 10px 10px #f2f2f2;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 10px;
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    box-shadow: 10px 10px 10px #f2f2f2;
}

.itemBox {
    display: block;
    margin: auto;
    width: 70%;
    background-color: $second-backgroundcolor;
    border: $border;
    box-shadow: 10px 10px 10px #f2f2f2;
    margin-bottom: 10px;
}

.imgBox > * {
    flex-basis: 100%;
  }

.imgBox {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 25%;
    background-color: #18AA04;
    
}

.textBox > * {
    flex-basis: 100%;
  }

.textBox {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 9px;
    width: 75%;
    background-color: #ff0000;
}

.searchButton {
    display: flex;
    align-items: center;
    background-color: $primary-backgroundcolor;
    width: 100%;
    height: 70px;
    border: $border;
    padding-left: 3%;
    text-align: left;
}

.inputfield {
    background-image: url(searchwide.png);
     background-repeat:no-repeat;
     background-position: right;
     background-size: 3%;
    width: 70%;
    height: 50px;
    border: $border;
    padding-left: 1%;
}

.mapButton {
    background-color: #18AA04;
    border: none;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    color: $primary-backgroundcolor;
    font-weight: bold;
}

.itemImg {
    margin-top: 9px;
    margin-left: 30px;
    border: $border;
    height: 180px;
}


.itemPrice {
    color: #18AA04;
    font-weight: bold;
}

.itemDiscount {
    color: #9DAB8E;
    font-weight: normal;
}

.imgLogo {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .imgSearch {
    float: right;
    padding: 0px;
    height: 30px;
    display: inline;
    margin-left: auto;
    margin-right: 15px;
  }
  